{% extends 'mainbase.html' %}
{% block title %} | Blog {% endblock %}
{% load static %}
{% block content %}
<!-- main-area -->
<main class="fix">

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" data-background="{{banner.bg_banner.url}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        {% comment %} <h2 class="title">Latest Blog</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav> {% endcomment %}
                        {% if 'search' in request.path %}
		                    <h2 class="title">Search Result</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Search Result</li>
                                </ol>
                            </nav>
	                          {% else %}
		                   <h2 class="title">Latest Blog</h2>
                           <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
	                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-shape-wrap">
            <img src="{% static 'img/images/breadcrumb_shape01.png' %}" alt="">
            <img src="{% static 'img/images/breadcrumb_shape02.png' %}" alt="">
        </div>
    </section>
    <!-- breadcrumb-area-end -->


   <!-- blog-area -->
   <section class="blog-area pt-120 pb-120">
    <div class="container">
        <div class="inner-blog-wrap">
            <div class="row justify-content-center">
                <div class="col-71">
                    <header class="border-bottom mb-4 pb-3">
                        <div class="form-inline">
                            <span class="mr-md-auto"><b>{{ post_count }}</b> Post found </span>
                
                        </div>
                    </header><!-- sect-heading -->
                    <div class="blog-post-wrap">
                        <div class="row">
                            {% include 'includes/alerts.html' %}
                        {% if posts %}        
                            {% for post in posts %}
                            <div class="col-md-6">
                                <div class="blog-post-item-two">
                                    <div class="blog-post-thumb-two">
                                        <a href="{{ post.get_url }}"><img src="{{ post.image.url }}" alt=""></a>
                                        <a href="{{ post.category.get_url }}" class="tag tag-two">{{post.category}}</a>
                                    </div>
                                    <div class="blog-post-content-two">
                                        <h2 class="title"><a href="{{ post.get_url }}">{{post.title}}</a></h2>
                                        <p>{{post.content|safe|truncatechars:80 }}</p>
                                        <div class="blog-meta">
                                            <ul class="list-wrap">
                                                <li>
                                                    <a href="#"><img src="{{post.author.user.userprofile.profile_picture.url}}" alt="">{{post.author.user.first_name}}</a>
                                                </li>
                                                <li><i class="far fa-calendar"></i>{{post.created_on|date:'d F, Y'}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div>
                                <h2>No result found. Please try again.</h2>
                            </div>
                            {% endif %}  
                        </div>
                        <div class="pagination-wrap mt-30">
                            <nav aria-label="Page navigation example">
                                {% comment %} <ul class="pagination list-wrap">
                                    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item next-page"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                </ul> {% endcomment %}
                                {% if posts.has_other_pages %}
                                <ul class="pagination list-wrap">
                                    {% if posts.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous"><i class="fas fa-angle-double-left"></i></a></li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" aria-label="Previous"><i class="fas fa-angle-double-left"></i></a></li>
                                    {% endif %}
                                    {% for i in posts.paginator.page_range %}
                                      {% if posts.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next"><i class="fas fa-angle-double-right"></i></a></li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" aria-label="Next"><i class="fas fa-angle-double-right"></i></a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-29">
                    <aside class="blog-sidebar">
                        <div class="sidebar-search">
                            <form action="{% url 'blogsearch' %}" class="search" method='GET'>
                                <input type="text" name="query"  placeholder="Search Here. . ." required="">
                                <button type="submit"><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                        <div class="blog-widget">
                            <h4 class="bw-title">Categories</h4>
                            <div class="bs-cat-list">
                                <ul class="list-wrap">
                                    {% for i in links %}
                                    <li><a href="{{ i.get_url }}">{{ i.category_name }} <span>({{i.post_set.all.count}})</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="blog-widget">
                            <h4 class="bw-title">Recent Posts</h4>
                            <div class="rc-post-wrap">
                                {% for post in posts %}
                                <div class="rc-post-item">
                                    <div class="thumb">
                                        <a href="{{ post.get_url }}"><img src="{{ post.image.url }}" alt=""></a>
                                    </div>
                                    <div class="content">
                                        <span class="date"><i class="far fa-calendar"></i>{{post.created_on|date:'d F, Y'}}</span>
                                        <h2 class="title"><a href="{{ post.get_url }}">{{post.title|safe|truncatechars:30}}</a></h2>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-area-end -->
</main>
<!-- main-area-end -->

{% endblock %}