{% extends 'mbase.html' %}
{% block title %}Add Services{% endblock %}
{% load static %}
{% block content %}  
<!-- Sale & Revenue Start -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Services</h6>
                {% include 'includes/alerts.html' %}
                <form class="row g-3 col-xl-9 offset-xl-1" action="{% url 'add_services'%}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}  
                  <div class="col-md-12">
                      <label for="service_name" class="form-label">Service name</label>
                      {{ form.service_name}}
                    </div>
                    <div class="col-12">
                      <label for="meta_title" class="form-label">Meta Title</label>
                      {{ form.meta_title}}
                    </div>
                    <div class="col-6">
                      <label for="meta_description" class="form-label">Meta Description</label>
                      {{ form.meta_description}}
                    </div>
                    <div class="col-6">
                      <label for="meta_keywords" class="form-label">Meta Keywords</label>
                      {{ form.meta_keywords}}
                    </div>
                    <div class="col-md-6">
                      <label for="services_thumb" class="form-label">Services Thumb </label>
                      {{ form.services_thumb }}
                    </div>
                    <div class="col-md-6">
                        <label for="flaticon_class" class="form-label">Flaticon Class</label>
                        {{ form.flaticon_class}}
                      </div>
                      <div class="col-md-12">
                        <label for="description" class="form-label">Description</label>
                        {{ form.description}}
                      </div>
                     <div class="col-12">
                        <label for="status" class="form-label">Status</label>
                        {{ form.status}}
                     </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                        {{form.media}}
                      <button type="submit" class="btn btn-primary">Add Services</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
{% endblock %}    
