{% extends 'mbase.html' %}
{% block title %}Change Password{% endblock %}
{% load static %}
{% block content %}  
<!-- Sale & Revenue Start -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Change Password</h6>
                {% include 'includes/alerts.html' %}
                <form class="row g-3 col-xl-9 offset-xl-1" action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}  
                  <div class="col-md-12">
                      <label for="Current_Password" class="form-label">Current Password</label>
                      <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                    </div>
                      <div class="col-md-12">
                        <label for="new_password" class="form-label">Create new password</label>
                        <input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
                      </div>
                     <div class="col-12">
                        <label for="confirm_password" class="form-label">Confirm new password</label>
                        <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
                     </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
{% endblock %}    
