{% extends 'mbase.html' %}
{% block title %}Update Custom Script{% endblock %}
{% load static %}
{% block content %}  
<!-- Sale & Revenue Start -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Custom Script</h6>
                {% include 'includes/alerts.html' %}
                <form class="row g-3 col-xl-9 offset-xl-1" action="{% url 'edit_script' script.id%}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}  
                  <div class="col-md-12">
                      <label for="script_name" class="form-label">Script Name</label>
                      {{ form.script_name}}
                    </div>
                    <div class="col-md-12">
                      <label for="header_script" class="form-label">Header script</label>
                      {{ form.header_script}}
                    </div>
                      <div class="col-md-12">
                        <label for="body_script" class="form-label">Body Script</label>
                        {{ form.body_script}}
                      </div>
                      <div class="col-md-12">
                        <label for="footer_script" class="form-label">footer script</label>
                        {{ form.footer_script}}
                      </div>
                     <div class="col-12">
                        <label for="status" class="form-label">Status</label>
                        {{ form.status}}
                     </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add Script</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
{% endblock %}    
