{% extends 'mbase.html' %}
{% block title %}Edit Education{% endblock %}
{% load static %}
{% block content %}  
<!-- Sale & Revenue Start -->
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-12">
            <div class="bg-light  rounded h-100 p-4">
                {% include 'includes/alerts.html' %}
               
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Education List</h6>
                </div>
                <div class="table-responsive">
                    <table id="datatable" class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">SN</th>
                                <th scope="col">Education Name</th>
                                <th scope="col">Update</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cnt in edu %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{cnt.education_name}}</td>
                                <td><a class="btn btn-sm btn-primary" href="{% url 'edit_education' cnt.id %}">Edit</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_education' cnt.id%}" onclick="return confirm('Are you sure to delete?')">Delete</a></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Edit Education</h6>
                </div>
                    
                <form class="row g-3 col-xl-10 offset-xl-1" action="{% url 'edit_education' myedu.id%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <div class="col-md-12">
                        <label for="category_name" class="form-label">Education Name</label>
                        {{ form.education_name}}
                    </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                      <ul class="errorlist">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li style="color: red;">{{error}}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </form>
            </div>
            </div>
        </div>
</div>
<!-- Table End -->


{% endblock %}    
