{% extends 'mbase.html' %}
{% block title %}Edit What specialty{% endblock %}
{% load static %}
{% block content %}  
<!-- Sale & Revenue Start -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">What Specialty</h6>
                {% include 'includes/alerts.html' %}
                <form class="row g-3 col-xl-9 offset-xl-1" action="{% url 'edit_specialty'%}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}  
                    <div class="col-12">
                      <label for="heading_name" class="form-label">Heading Hame</label>
                      {{ form.heading_name}}
                    </div>
                    <div class="col-12">
                      <label for="main_title" class="form-label">Main Title</label>
                      {{ form.main_title}}
                    </div>
                    <div class="col-12">
                        <label for="img_three" class="form-label">Image</label>
                        {{ form.img_three}}
                      </div>
                      <div class="col-md-12">
                        <label for="description" class="form-label">Description</label>
                        {{ form.description}}
                      </div>  
                    <div class="col-12">
                      <label for="item1_name" class="form-label">Item1 Name</label>
                      {{ form.item1_name}}
                     </div>
                     <div class="col-12">
                        <label for="item1_content" class="form-label">Item1 content</label>
                        {{ form.item1_content}}
                    </div>
                    <div class="col-12">
                        <label for="item2_name" class="form-label">Item2 Name</label>
                        {{ form.item2_name}}
                       </div>
                       <div class="col-12">
                          <label for="item2_content" class="form-label">Item2 content</label>
                          {{ form.item2_content}}
                      </div>
                      <div class="col-12">
                        <label for="item3_name" class="form-label">Item3 Name</label>
                        {{ form.item3_name}}
                       </div>
                       <div class="col-12">
                          <label for="item3_content" class="form-label">Item3 content</label>
                          {{ form.item3_content}}
                      </div>
                     
                     <div class="col-12">
                        <label for="status" class="form-label">Status</label>
                        {{ form.status}}
                     </div>
                    <div class="col-12">
                        {{form.media}}
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
{% endblock %}    
