{% extends 'mbase.html' %}
{% block title %}Home Know Us{% endblock %}
{% load static %}
{% block content %}  
<!-- Sale & Revenue Start -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Edit Know Us</h6>
                {% include 'includes/alerts.html' %}
                <form class="row g-3 col-xl-9 offset-xl-1" action="{% url 'edit_knowus'%}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}  
                   <div class="col-md-12">
                      <label for="heading_name" class="form-label">Heading Name</label>
                      {{ form.heading_name}}
                    </div>
                    <div class="col-md-12">
                      <label for="main_title" class="form-label">Main Title</label>
                      {{ form.main_title}}
                    </div>
                    <div class="col-md-12">
                      <label for="main_title" class="form-label">Description</label>
                      {{ form.description}}
                    </div>
                    <div class="col-md-12">
                        <label for="flaticon_class" class="form-label">flaticon class</label>
                        {{ form.flaticon_class}}
                    </div>
                      <div class="col-12">
                        <td><img class="rounded flex-shrink-0" src="{{knowus.mask_img.url}}" alt="" style="width: 100px; height: auto;"></td>
                        <br/>
                        <label for="mask_img" class="form-label">Mask Img</label>
                        {{ form.mask_img}}
                      </div>
                      <div class="col-6">
                        <td><img class="rounded flex-shrink-0" src="{{knowus.img_two.url}}" alt="" style="width: 60px; height: 60px;"></td>
                        <br/>
                        <label for="knowus" class="form-label">Img two</label>
                        {{ form.img_two}}
                      </div>
                      <div class="col-6">
                        <td><img class="rounded flex-shrink-0" src="{{knowus.bshape_1.url}}" alt="" style="width: 60px; height: 60px;"></td>
                        <br/>
                        <label for="bshape_1" class="form-label">Bshape1</label>
                        {{ form.bshape_1}}
                      </div>
                      <div class="col-6">
                        <td><img class="rounded flex-shrink-0" src="{{knowus.bshape_2.url}}" alt="" style="width: 60px; height: 60px;"></td>
                        <br/>
                        <label for="bshape_2" class="form-label">BShape 2</label>
                        {{ form.bshape_2}}
                      </div>
                      <div class="col-6">
                        <td><img class="rounded flex-shrink-0" src="{{knowus.bshape_3.url}}" alt="" style="width: 60px; height: 60px;"></td>
                        <br/>
                        <label for="bshape_3" class="form-label">BShape 3</label>
                        {{ form.bshape_3}}
                      </div>
                      <div class="col-md-6">
                        <label for="services1_name" class="form-label">Services1 Name</label>
                        {{ form.services1_name}}
                      </div>
                      <div class="col-md-6">
                        <label for="services1_flaticon" class="form-label">Services2 Flaticon</label>
                        {{ form.services1_flaticon}}
                      </div>
                      <div class="col-md-12">
                        <label for="services1_content" class="form-label">Services1 Content</label>
                        {{ form.services1_content}}
                      </div>
                      <div class="col-md-6">
                        <label for="services2_name" class="form-label">Services2 Name</label>
                        {{ form.services2_name}}
                      </div>
                      <div class="col-md-6">
                        <label for="services2_flaticon" class="form-label">Services2 Flaticon</label>
                        {{ form.services2_flaticon}}
                      </div>
                      <div class="col-md-12">
                        <label for="services2_content" class="form-label">Services2 Content</label>
                        {{ form.services2_content}}
                      </div>

                     <div class="col-12">
                        <label for="status" class="form-label">Status</label>
                        {{ form.status}}
                     </div>
                    <div class="col-12">
                        {{form.media}}
                      <button type="submit" class="btn btn-primary">Update</button>
                      <ul class="errorlist">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li style="color: red;">{{error}}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
{% endblock %}    
