{% extends 'mbase.html' %}
{% block title %}Footer Contact Details{% endblock %}
{% load static %}
{% block content %}  
<!-- Sale & Revenue Start -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Footer Contact Details</h6>
                {% include 'includes/alerts.html' %}
                <form class="row g-3 col-xl-9 offset-xl-1" action="{% url 'fwcontact' ftw1.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}  
                  <div class="col-md-12">
                      <label for="footer_name" class="form-label">Footer name</label>
                      {{ form.footer_name}}
                    </div>
                    <div class="col-md-12">
                      <label for="address" class="form-label">Address</label>
                      {{ form.address}}
                    </div>
                    <div class="col-md-6">
                        <label for="contact_name" class="form-label">Contact_ person name</label>
                        {{ form.contact_name}}
                      </div>
                      <div class="col-md-6">
                        <label for="phone_no" class="form-label">Phone No</label>
                        {{ form.phone_no}}
                      </div>
                     <div class="col-12">
                        <label for="status" class="form-label">Status</label>
                        {{ form.status}}
                     </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                        {{form.media}}
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
{% endblock %}    
