{% extends 'mbase.html' %}
{% block title %}EmaiSetup{% endblock %}
{% load static %}
{% block content %}  
<!-- Sale & Revenue Start -->
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-12">
            <div class="bg-light  rounded h-100 p-4">
                {% include 'includes/alerts.html' %}
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">EmaiSetup</h6>
                </div>
                <form class="row g-3 col-xl-10 offset-xl-1" action="{% url 'emailsetup'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}  
                    <div class="col-md-12">
                        <label for="state" class="form-label">Name</label>
                        {{ form.name}}
                    </div>
                    <div class="col-md-12">
                        <label for="enqmail" class="form-label">Enquiry Receiving Email</label>
                        {{ form.enqmail}}
                    </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                      <ul class="errorlist">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li style="color: red;">{{error}}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </form>
            </div>
            </div>
        </div>
</div>
<!-- Table End -->


{% endblock %}    
